<div class="row">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky" style="margin-top:50px;">
        <form action="" method="get" id="o-js-filterProjects">
            {{tags_form}}
        </form>
        <ul class="nav flex-column">
          <li class="nav-item">
            <p>
              <a data-toggle="collapse" class="nav-link" href="#collapseGroupes" role="button" aria-expanded="false" aria-controls="collapseGroupes">
                <i class="fa fa-group"></i> Groupes
                <span class="badge badge-secondary">15</span>
                <i class="fa fa-angle-right text-bold"></i>
              </a>
            </p>
            <div class="collapse" id="collapseGroupes">
              <ul class="list-unstyled">
                <li style="padding-left:20px">
                </li>
                <li style="padding-left:20px">
                  <a href="" class="nav-link">Groupe2
                    <span class="badge badge-secondary">5</span>
                  </a>
                </li>
                <li style="padding-left:20px">
                  <a href="" class="nav-link">Groupe3
                    <span class="badge badge-secondary">5</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </nav>
</div>