<section class="FAB">
  <!--<div class="FAB__mini-action-button">-->
  <!--<div class="mini-action-button&#45;&#45;hide mini-action-button">-->
  <!--<a href="#" data-toggle="modal"  data-target="#new-resource-modal">-->
  <!--<i class="mini-action-button__icon fa fa-pencil" id="showMeta"></i>-->
  <!--</a>-->
  <!--<p class="mini-action-button__text&#45;&#45;hide">Créer une publication</p>-->
  <!--</div>-->
  <!--<div class="mini-action-button&#45;&#45;hide mini-action-button">-->
  <!--<i class="mini-action-button__icon fa fa-users"></i>-->
  <!--<p class="mini-action-button__text&#45;&#45;hide">Créer un groupe</p>-->
  <!--</div>-->
  <!--</div>-->
  <div class="FAB__action-button">
    <a href="#" data-toggle="modal"  data-target="#new-resource-modal">
      <i class="action-button__icon fa fa-plus" id="showMeta"></i>
    </a>
    <p class="action-button__text--hide" style="font-weight: 500">Nouvelle Ressource</p>

  </div>
</section>